{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}


{% block body %}

<div>
    <form action="/add-book/{{library_id}}" method = "POST">

        <label for="title">Book name</label>
        <input type="text" name= "title" required>
        <label for="author">Author</label>
        <select name= "author" required >
            {% for author in authors %}
                <option value="{{author.id}}">{{author.name}} {{author.surname}}</option>

            {% endfor %}
            
        </select>
        <a href="/add-author?go_back={{url_for(request.endpoint, **request.view_args)}}">don't see your author? add one</a>
        <label for="edition">Edition (optional)</label>
        <input type="number" name= "edition">
        
        <button type="submit">add book</button>

    </form>
    <div class="go-back">
        <a href="/library/{{library_id}}" > <svg xmlns="http://www.w3.org/2000/svg"   class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
</svg> go back</a>
    </div>
</div>

{% endblock %}