.body-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.book{
    border: 1px solid var(--border-color);
    border-radius: var(--outer-border-radius);
    border-bottom-right-radius: 0;
    max-width:90vw;
    min-width: 50vw;
    padding: 1rem;
    box-shadow: 
        var(--box-shadow-size)
        var(--box-shadow-size)
        0 
        var(--border-color);   
}

.row a{
    color: var(--text-color)
}

.row{
    color: var(--text-color);
    text-decoration: none;
    font-size: 90%;
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr  1fr;
    transition: .1s;
    gap:.5rem;
}