.body-wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

form{

    width:50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap:1rem;
    min-height: fit-content;
    border: 2px solid var(--text-color);
    border-radius: 5px 5px 0 5px;
    
}

input{
    width: 30vw;
    padding: 0.5rem;
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 2px;
}

select{
    padding:.5rem;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 2px;
    overflow-y: scroll;
    width: 30vw;

}

select::-webkit-scrollbar{
    display: none;
}

option{
    padding: .1rem;
}

option:hover{
    background-color: var(--text-color);
    color: var(--background-color);


}

option:checked{
    background-color: var(--text-color)!important;
    color: var(--background-color)
}

option:active{
        background-color: var(--text-color)!important;
    color: var(--background-color)
}


button{
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 2px;
    color: var(--text-color);
    padding: 0.5rem;
    transition: .1s;
    width:fit-content
}

button:hover{
    transition: .2s;
    background-color: var(--text-color);
    color: var(--background-color)
}

form label{
    font-size: 150%;
}

form a{
    font-size: xx-small;
    color: var(--text-color);
    
}