*{
    padding: 0;
    margin: 0;

    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;

    


}

.dark{
    --background-color: #0b0b09;
    --text-color: #e7e5de;
    --border-color: #e7e5de;

    --active-color: #e7e5de;
    --active-text-color: #0b0b09;

    --outer-border-radius: 5px;

}

.light{
    --background-color: #e7e5de;
    --border-color: #131412;
    --text-color:#131412;

    --active-color: #131412;
    --active-text-color: #e7e5de;

    --box-shadow-size: 0;

    --outer-border-radius: 5px;
}

.retro{
    --background-color: #F5E9DA;
    --text-color:#6B4226;
    --border-color: #D2691E;

    --active-color: #D2691E;
    --active-text-color: #F5E9DA;

    --box-shadow-size: 2px;
    --outer-border-radius: 2px;

}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    height:100vh;
    padding: 0;;
    overflow-y: scroll;
    
    
}

body::-webkit-scrollbar{display:none}

.body-wrapper{
    
    overflow-y: scroll;
    height:calc(100vh - 4rem);
    max-height:calc(100vh - 4rem);
    position: fixed;
    width:100%;
   
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    box-sizing: content-box;
}

.body-wrapper::-webkit-scrollbar{
    display: none;
}

nav{
    position: relative;

    z-index:99;
    top:0;
    left:0;
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap:1rem;

}

nav h1{
    display: flex;
    align-items: center;
    height: 2rem;
}

nav a{
    
    padding: .3rem;
    color: var(--text-color);
    transition: .1s;
    text-align: center;
}

nav a:hover{

    transform: translateY(-2px);
    transition: .2s;
}

nav .home{
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    border: 0px;
    color: var(--text-color);
}

nav .home:hover{
    transform: translateY(0px);
    background-color: transparent;
    padding: 0;
    border: 0px;
    color: var(--text-color);
}

.go-back{
    width:100%;
    text-align: right;
    display: flex;
    justify-content: right;
    gap:.1rem

}


.go-back a {
    border: 1px solid var(--border-color);
    border-top: 0;
    border-radius:
        0
        0
        var(--outer-border-radius)
        var(--outer-border-radius);
    font-size: .7rem;
    color: var(--text-color);
    padding: .3rem;
    text-decoration: none;
    transition: .1s;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.go-back svg{
    font-size: 70%;
    width:.8rem;
    fill: var(--text-color);
}

.go-back a:hover svg{
    fill: var(--active-text-color);
}

.go-back a:hover{

    background-color: var(--active-color);
    color: var(--active-text-color);
    transition: .2s;
}

a{
    text-decoration: none;
    color: var(--text-color)
}

.list{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-height: 50vh;
    overflow-y: scroll;
}

.list::-webkit-scrollbar{
    display: none;
}

.list a{
    padding: 1rem;
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    transition: .1s;
    border: 1px solid transparent;
}

.list a:hover{
    color: var(--active-text-color);
    border-color: var(--border-color);
    background-color: var(--active-color);
    transition: .2s;

    box-shadow: 
        var(--box-shadow-size)
        var(--box-shadow-size)
        0 
        var(--border-color);
}

.add{
    display: flex;
    padding: 1rem;
    border-top: 1px solid var(--border-color);
    width: calc(100% - 2rem);
    justify-content: center;
    transition: .1s;
}

.add:hover{
    background-color: var(--border-color);
    color:var(--active-text-color);
    transition: .2s;
    
}

.underline{
    text-decoration: underline;
}