*{
    padding: 0;
    margin: 0;

    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;


}

.dark{
    --background-color: #0b0b09;
    --text-color: #e7e5de;
    --input-background-color: #252524;

}

.light{
    --background-color: #e7e5de;
    --text-color: #131412;
    --input-background-color: #d8d7d2;
    

}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    height:100vh;
    padding: 0;;
    overflow-y: scroll;
    
    
}

body::-webkit-scrollbar{display:none}

.body-wrapper{
    
    overflow-y: scroll;
    height:calc(100vh - 4rem);
    max-height:calc(100vh - 4rem);
    position: fixed;
    width:100%;
   
    z-index: 1;
    box-sizing: content-box;
}

.body-wrapper::-webkit-scrollbar{
    display: none;
}

nav{
    position: relative;

    z-index:99;
    top:0;
    left:0;
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap:1rem;

}

nav h1{
    display: flex;
    
    align-items: center;
    height: 2rem;
}

nav a{
    
    padding: .3rem;
    color: var(--text-color);
    border-radius: 5px;
    transition: .1s;
    text-align: center;
}

nav a:hover{

    color: var(--text-color);
    transform: translateY(-2px);
    transition: .2s;
}

nav .home{
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    border: 0px;
    color: var(--text-color);
}

nav .home:hover{
    transform: translateY(0px);
    background-color: transparent;
    padding: 0;
    border: 0px;
    color: var(--text-color);
}