*{
    padding: 0;
    margin: 0;

    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;


}

.dark{
    --background-color: #0b0b09;
    --text-color: #e7e5de;
    --input-background-color: #252524;

}

.light{
    --background-color: #e7e5de;
    --text-color: #131412;
    --input-background-color: #d8d7d2;
    

}

body{
    background-color: var(--background-color);
    color: var(--text-color)
}

nav{
    position: fixed;
    top:0;
    left:0;
    
    padding: 1rem;
    display: flex;
    align-items: left;
    justify-content: center;
    gap:1rem;
}

nav h1{
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    padding: .3rem;
    background-color: var(--text-color);
    color: var(--background-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    transition: .1s;
    text-align: center;
}

nav a:hover{
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    transition: .2s;
}

nav .home{
    background-color: transparent;
    padding: 0;
    border: 0px;
    color: var(--text-color);
}

nav .home:hover{
    background-color: transparent;
    padding: 0;
    border: 0px;
    color: var(--text-color);
}