.body-wrapper{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    max-height: 50vh;
}



.book-menu{
    border: 1px solid var(--border-color);
    border-radius: var(--outer-border-radius);
    border-bottom-right-radius: 0;
    
    min-width: 50vw;

    box-shadow: 
        var(--box-shadow-size)
        var(--box-shadow-size)
        0 
        var(--border-color);
}

.header{
    border-bottom: 1px solid var(--border-color);
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap:.5rem;
}

.row{
    color: var(--text-color);
    text-decoration: none;
    font-size: 90%;
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr  1fr;
    transition: .1s;
    gap:.5rem;
}

.row p{
    text-align: left;
}

p{
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}