.container{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 
        var(--box-shadow-size)
        var(--box-shadow-size)
        0 
        var(--border-color);   

}



.settings{
    border: 1px solid var(--border-color);
    border-radius: var(--outer-border-radius);
    padding: 1rem;
    min-width: 50vh;
}

.setting{
    
    display: flex;
    padding:.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    justify-content: space-between;
    text-align: left;
    
}


.setting:hover{
    background-color: var(--active-color);
    color:var(--active-text-color)
}



button{
    width: 100%;
    color: var(--text-color);
    text-decoration: underline;
    border: 0px;
    background-color: transparent;
}

.disclosure{
    font-size: 70%;;
    padding: .1rem;
}