

.users-menu{
    border: 1px solid var(--text-color);
    border-radius: 5px 5px 0 5px;
    
    min-width: 50vw;
}


.row{
    color: var(--text-color);
    text-decoration: none;
    font-size: 90%;

    display: grid;
    grid-template-columns: 1fr  1fr;
    transition: .1s;

}

.row:hover{
    background-color: var(--text-color);
    color: var(--background-color);
    transition: .2s;
}
