

.users-menu{
    border: 1px solid var(--border-color);
    border-radius: var(--outer-border-radius);
    border-bottom-right-radius: 0;

    box-shadow: 
        var(--box-shadow-size)
        var(--box-shadow-size)
        0 
        var(--border-color);
    
    min-width: 50vw;
}


.row{
    color: var(--text-color);
    text-decoration: none;
    font-size: 90%;

    display: grid;
    grid-template-columns: 1fr  1fr;
    transition: .1s;

}
