{% extends "base.html"%}

{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
<script src="{{ url_for('static', filename='js/delete.js') }}"></script>
{% endblock %}

{% block body %}
<div class="contianer">
    <h1>{{book.title}}</h1>
    <div class="book">
        <div class="row">
            <p>author</p>
            <a href="/author/{{book.author.id}}?go_back={{url_for(request.endpoint, **request.view_args)}}">{{book.author.name}} {{book.author.surname}}</a>
        </div>
        <div class="row">
            <p>owned by</p>
            <a href = "/user/{{owned_by.id}}">{{owned_by.name}} {{owned_by.surname}}</a>
        </div>
        <div class="row">
            <p>edition</p>
            <p>{% if book.edition%}{{book.edition}}{%else%} - {%endif%}</p>
        </div>
    </div>
    
    <div class="go-back">
        <a href="/edit-book/{{book.id|string}}"><svg xmlns="http://www.w3.org/2000/svg"   class="bi bi-pen" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
</svg>edit book</a>
        <a href='/library/{{book.library.id}}' > <svg xmlns="http://www.w3.org/2000/svg"   class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
</svg> go to the library</a>
<a onclick='delete_item("book", "{{book.id}}","/library/{{book.library.id}}")'>delete</a>
    </div>
    
</div>
{% endblock %}