{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{%block nav %}
<nav>
    <h1>Hi, {{user.name}}!</h1>
    <a href="/manage-users">manage users</a>
    <a href="/settings">settings</a>
</nav>
{% endblock %}
{% block body %}


    
    <div class="wrap">
        <h1>Your libraries</h1>
        
        <div class="libraries-menu">
            <div class="list">

                {% for library in libraries %}
                <a class = "library" href='{{"/library/" +library.id|string}}'>{{library.name}}</a>
                {% endfor %}
            </div>
            <a class = "add" href="/create-library">add library</a>
        </div>
    </div>

{% endblock %}