{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/launch.css') }}">
<script src="{{ url_for('static', filename='js/launch.js') }}"></script>
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
    <div>
        
            <img class = "logo" src="{{ url_for('static', filename='assets/banner-' + mode + '.png') }}" >
            <h1>Bookkeeper</h1>
            <p>press a key to continue</p>
            
        
    </div>
{% endblock %}