<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/launch.css') }}">
<script src="{{ url_for('static', filename='js/launch.js') }}" ></script>
    
</head>
<body class = "{{mode}}">

    <div>
        
            <img class = "logo" src="{{ url_for('static', filename='assets/banner-' + mode + '.png') }}" >
            <h1>Bookkeeper</h1>
            <p>press a key to continue</p>
            
        
    </div>
</body>
</html>